@model CadastroBasicoDeClientes.Dominio.Cliente

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja realmente excluir este registro?</h3>

<fieldset>
    <legend>Cliente</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UF)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DataNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataNascimento)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir"/>
        @Html.ActionLink("Voltar", "Index")
    </p>       
}
